.header {
    background: #221f1f;
    position: relative;
}

.header-box { 
    display: flex;
    align-items: center;

    justify-content: space-between;
    position: relative;

    padding: 1rem .5rem;
}

.search-form {
    display: flex;
}

.search-form__input-search {
    width: 715px;

    display: flex;
}

.menu-setup,
.menu-box,
.menu-layout,
.cart-layout {
    position: fixed;
    top: 0;
    left: 0;
}

.menu-setup {
    z-index: 60;
}

.menu-box {
    z-index: 60;
    width: 320px;
    height: 100%;
    overflow: auto;
    border: 1px solid silver;
    display: flex;
    flex-direction: column;

    background: white;

    gap: 2.5rem;
}

.menu-layout,
.cart-layout {
    z-index: 20;

    background: rgba(0,0,0, .5);
    width: 100%;
    height: 100vh;
}


.menu-el {
    font-size: 1.2rem;
    font-weight: bold;
    height: 2.5rem;
    padding: .6rem;
    border-radius: .5rem;
    display: flex;
    align-items: center;
    margin: 0 .6rem;

    transition: all .3s;
}

.menu-el:hover {
    background: #d0ebdb;
}

.menu-el__link {
    color: black;
    width: 100%;
}

.logo-box {
    display: flex;
    justify-content: space-between;
    align-items: center;
    background: #221f1f;
    gap: 1rem;

    padding: .5rem;
}

.logo-box .logo {
    width: 144px;
    height: 24px;
}

.logo-box .logo img {
    width: 100%;
    height: 100%;

    object-fit: cover;
}

.logo-box button {
    height: 24px;
    border: none;
    margin: 0;
    padding: 0 .5rem;

    transition: all .3s;
}

.logo-box button:hover {
    color: #e23e3e;
    background: silver;
}

.language-box {
    display: flex;
    align-items: center;
    gap: .6rem;
}

.language-box span {
    color: silver;
}

.language-box__link {
    color: white;
}

.catalog-setup, .catalog-box {
    position: absolute;
    top: 100%;
    left: 0;
}

.catalog-layout {
    position: absolute;
    top: 100%;
    left: 0;
    overflow: hidden;

    background: rgba(0,0,0, .5);
    width: 100%;
    height: 100vh;
}

.catalog-box {
    z-index: 40;

    display: flex;
    height: 600px;
    padding: 1rem;
    background: white;
    width: 100%;

    border-radius: 1rem;
}

.navigation-list {
    display: flex;
    justify-content: center;
    align-items: center;

    width: 30%;

    border: 1px solid silver;

    margin-right: -1px;
}

.content-box {
    display: flex;
    width: 100%;

    border: 1px solid silver;
}

.top-list {
    display: flex;
    justify-content: center;
    align-items: center;

    height: 100%;
    width: 30%;
}

.main-content-box {
    display: flex;
    flex-direction: column;

    width: 50%;

    border-left: 1px solid silver;
    border-right: 1px solid silver;
}

.content-list {
    display: flex;
    justify-content: center;
    align-items: center;

    height: 85%;
}

.categories {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 15%;

    border-top: 1px solid silver;
}

.commercial {
    display: flex;
    justify-content: center;
    align-items: center;

    width: 20%;
}

.cart-setup, .cart {
    position: fixed;
}

.cart {
    z-index: 60;
    background: silver;

    width: 700px;
    height: 450px;

    top: 50%;
    left: 50%;

    transform: translate(-50%, -50%);
}

.cart-header {
    display: flex;
    width: 100%;
    justify-content: space-between;
    align-items: center;

    border-bottom: 1px solid;
    padding: 0 .5rem;
}

.cart-main-part {
    display: flex;
    justify-content: center;
    align-items: center;

    height: 100%;
}

.cart-setup {
    width: 100%;
    height: 100vh;

    z-index: 40;
}