* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  font-family: sans-serif;
}

li {
  list-style-type: none;
}

a {
  text-decoration: none;
}

label {
  display: block;
}

button, input {
  margin: 5px 0;
}

input {
  padding: 10px;
}

button {
  border: 1px solid silver;
  background: none;
  color: white;
  font-weight: bold;
  padding: 10px;
  font-size: 1.1rem;

  cursor: pointer;
}

.container1536 {
  max-width: 1536px;
  margin: 0 auto;
}

.box {
  height: 900px;
}